ol {
    margin-top: 10px;
}

.panel-default > .panel-heading {
    color: white;
    background-color: #3F51B5;
}

.banner {
    color: white;
    background-color: #3F51B5;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.img-responsive {
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

h1 small {
    color: white;
    font-size: 50%;
}

footer {
    color: white;
    background-color: #3F51B5;
}

.logo {
    max-height: 150px;
}

.logo-lcas {
    padding-bottom: 14px;
}

.logo-uros {
    max-height: 50px;
    float: left;
}

.title small {
    line-height: 0px !important;
}

dl {
    margin-bottom: 0px;
}

dl dd {
    margin-bottom: 10px;
}

.num {
   
}

.num::after {
    padding: 0 5px 0 2px;
    content: " | "; 
}

.name-2 {
    /*border-bottom-style: solid;
    border-width: 2px;
    padding-bottom: 5px;*/

    font-size: 15px;
}

.header {
    position: relative;
    min-height: 150px;
}

.header-content {
    position: absolute;
    bottom: 0;
}

footer {
    padding: 10px;
}