ol {
    margin-top: 10px;
}

.panel-default > .panel-heading {
    color: white;
    background-color: #3F51B5;
}

.banner {
    color: white;
    background-color: #3F51B5;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.img-responsive {
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

h1 small {
    color: white;
    font-size: 50%;
}

footer {
    color: white;
    background-color: #3F51B5;
}

.logo {
    height: 200px;
}

dl {
    margin-bottom: 0px;
}

dl dd {
    margin-bottom: 10px;
}